*.png binary
*.jpg binary
*.html text eol=lf
*.js text eol=lf
*.eot binary 
*.otf binary 
*.ttf binary 
*.woff binary 
*.woff2 binary

src/backend/design/static/css/* linguist-vendored
src/backend/design/static/vendor/* linguist-vendored
src/backend/design/templates/*/* linguist-vendored
src/backend/design/static_root/*/*/* linguist-vendored
