{% extends "layout.html" %}
{% load static %}
{% block stylesheets %}
  <link href="{% static 'css/users/profile.css' %}" rel="stylesheet">
{% endblock %}
{% block style %}
<style>
* {
  color: white;
}
</style>
{% endblock %}
{% block content %}
<section id="main">
  <!-- sda  -->
  <div class="container mt-4 _profile">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>Full username</label>
        {{ form.fullname }}
      </div>
      <div class="form-group">
        <label>Region</label>
        {{ form.region }}
      </div>
      <div class="form-group">
        <label>Region</label>
        {{ form.background_link }}
      </div>
      <div class="form-group">
        <label>Region</label>
        {{ form.avatar_link }}
      </div>
      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
  </div>
</section>
{% block scripts %}
  <script src="{% static 'vendor/chartjs/js/chart.js' %}"></script>
  <script src="{% static 'js/users/profile.js' %}"></script>
{% endblock %}
{% endblock %}
