{% extends "layout.html" %}
{% block content %}
<section id="main" class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-4 border">
            asd
          </div>
          <div class="col-md-8 border">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 border">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-8 border">
          </div>
          <div class="col-md-4 border">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 border">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
