#main .container, #main .container-fluid {
  padding-top: 84px;
}
#main .animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}
.login-form {
  box-shadow: 14px 14px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #3f4e6f;
  border-radius: 10px;
  height: 100%;
}
.login-form h3 {
  color: #fff; 
  text-align: center; 
  padding-bottom: 30px; 
  font-family:Open Sans, 
  sans-serif; 
  font-weight: 700;
}
.login-form .form-row span {
  color:#fff; 
  font-family:Open Sans, sans-serif; 
  font-weight: 550;
}
.register-submit {
  border: none !important;
  margin: 0px 0px 0px 0px !important;
}
.register-submit:hover {
  color: #bdbade !important;
}
.profile-icon {
  width: 30px; 
  height: 30px; 
  margin-top: -5px
}
