{% load static %}
<!DOCTYPE html>
<html lang="mn">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="icon" type="image/png" href="{% static 'img/base/favicon.png' %}">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome/css/all.css' %}" rel="stylesheet">
  <link href="{% static 'css/layout.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  {% block style %}
  {% endblock %}
</head>
<body>
  <header id="header">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-11 d-flex align-items-center">
          <h1 class="logo mr-auto">
            <a href="{% url 'home_index' %}">OYUBOOK</a>
          </h1>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li>
                <a href="{% url 'ctf_index' %}">
                  <span><i class="fas fa-flag-checkered"></i></span>
                  <span>CTF - Arena</span>
                </a>
              </li>
              <li class="_todo">
                <a href="{% url 'mathematics_index' %}" class="text-muted">
                  <span><i class="fas fa-square-root-alt"></i></span>
                  <span>Математик</span>
                </a>
              </li>
              <li class="_todo">
                <a href="{% url 'electronics_index' %}" class="text-muted">
                  <span><i class="fas fa-bolt"></i></span>
                  <span>Электроник</span>
                </a>
              </li>
              <li class="_todo">
                <a href="{% url 'network_index' %}" class="text-muted">
                  <span><i class="fas fa-network-wired"></i></span>
                  <span>Сүлжээ</span>
                </a>
              </li>
              {% if user.is_authenticated %}
                <li class="drop-down">
                  {% if user.avatar_image == 'img/users/avatar/default.png' %}
                    <img src="{% static 'img/users/avatar/default.png' %}" class="rounded-circle float-left _profile-nav">
                  {% else %}
                    <img src="/media/{{ user.avatar_image }}" class="rounded-circle float-left _profile-nav">
                  {% endif %}
                  <a class="ml-5" href="#">{{ user.username }}</a>
                  <ul>
                    <li>
                      <a href="{% url 'user_profile' user.slug %}">
                        <span>Профайл</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'user_logout' %}?next={{ request.path }}">
                        <span>Гарах</span>
                      </a>
                    </li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </nav>
          {% if request.path == '/user/login/' or request.path == '/user/register/' %}
            <a href="{% url 'home_index' %}" class="get-btn">
              <span>Нүүр хуудас</span>
            </a>
          {% elif not user.is_authenticated %}
            <a href="{% url 'user_login' %}" class="get-btn">
              <span>Нэвтрэх</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'js/layout.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>