{% extends "layout.html" %}
{% load static %}
{% block style %}
  <link href="{% static 'css/users/login.css' %}" rel="stylesheet">
  <style>
  </style>
{% endblock %}
{% block content %}
<section id="main" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 order-1 order-lg-1 main-img">
        <img src="{% static 'img/logo/syscotech.png' %}" class="img-fluid animated" alt="Logo Image">
      </div>
      <div class="col-1 order-2"></div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-4 pt-lg-0 order-3 order-lg-3 d-flex flex-column justify-content-center login-form mb-5">
        <div class="col-12">
          <h3 class="mt-5">Тавтай морил</h3>
          <form method="POST">
            {% csrf_token %}
            <div class="form-row">
              <span>Хэрэглэгчийн и-мэйл</span>
              <div class="col-md-12 form-group mt-2">
                {{ form.username }}
              </div>
            </div>
            <div class="form-row">
              <span>Нууц үг</span>
              <div class="col-md-12 form-group mt-2">
                {{ form.password }}
              </div>
            </div>
            <div class="form-row">
              {% if form.errors %}
                <div class="alert alert-danger col-md-12 text-center" role="alert">
                  <p class="_font-550">И-мэйл хаяг эсвэл нууц үг тохирохгүй байна</p>
                </div>
              {% endif %}
              {% if messages %}
                <div class="alert alert-info col-md-12 text-center" role="alert">
                  {% for msg in messages %}
                    <p class="_font-550">{{ msg }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="col-md-12 form-group mt-3">
                <a href="{% url 'user_register' %}" class="get-btn register-submit float-left">Бүртгүүлэх</a>
                <button type="submit" class="btn get-btn float-right">Нэвтрэх</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
  <script src="{% static 'js/users/authenticate.js' %}"></script>
{% endblock %}