{% extends "layout.html" %}
{% load static %}
{% block style %}
  <link href="{% static 'css/users/profile-update.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section id="main" class="d-flex mb-5">
  <div class="container-fluid ml-5 mr-5 mt-4">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <div class="d-flex">
                <i class="fas fa-user-circle fa-2x"></i>
                <div class="ml-2 align-self-center">
                  <span>Хэрэглэгч</span>
                </div>
                <div class="ml-auto align-self-center">
                  <span data-toggle="tooltip" data-html="true" title="Нэмэлт мэдээлэл">
                    <i class="fas fa-info-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label class="control-label">
                  <span class="input-label">{{ form.fullname.label }}</span>
                </label>
                {{ form.fullname }}
              </div>
              <div class="form-group">
                <label class="control-label">
                  <span class="input-label">{{ form.region.label }}</span>
                </label>
                {{ form.region }}
              </div>
              <div class="form-group">
                <label class="control-label">
                  <span class="input-label">{{ form.email.label }}</span>
                </label>
                {{ form.email }}
              </div>
              <div class="form-group">
                <label class="control-label">
                  <span class="input-label">{{ form.password.label }}</span>
                </label>
                {{ form.password }}
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label class="control-label">
                    <span class="input-label">{{ form.avatar_image.label }}</span>
                    <span class="_font-12 font-italic">(min 300x300)</span>
                  </label>
                  {{ form.avatar_image }}
                </div>
                <div class="form-group col-6">
                  <label class="control-label">
                    <span class="input-label">{{ form.background_image.label }}</span>
                    <span class="_font-12 font-italic">(min 1000x1000)</span>
                  </label>
                  {{ form.background_image }}
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a href="" class="btn get-btn float-left _back-btn">Буцах</a>
              <button type="submit" class="btn get-btn float-right">Шинэчлэх</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 secondRow">
          <div class="card">
            <div class="card-header">
              <div class="d-flex">
                <i class="fas fa-heart fa-2x"></i>
                <div class="ml-2 align-self-center">
                  <span>Сошиал хаяг</span>
                </div>
                <div class="ml-auto align-self-center">
                  <span data-toggle="tooltip" data-html="true" title="Нэмэлт мэдээлэл">
                    <i class="fas fa-info-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <label class="control-label">
                    <span class="input-label">Github</span>
                  </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fab fa-github-square"></i></span>
                    </div>
                    {{ form.github_link }}
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <label class="control-label">
                    <span class="input-label">Instagram</span>
                  </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                    </div>
                    {{ form.insta_link }}
                  </div>
                </div>
              </div>
              <div class="row mt-n3 mb-n3">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <label class="control-label">
                    <span class="input-label">Facebook</span>
                  </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fab fa-facebook"></i></span>
                    </div>
                    {{ form.facebook_link }}
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
                  <label class="control-label">
                    <span class="input-label">Linkedin</span>
                  </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fab fa-linkedin"></i></span>
                    </div>
                    <input type="text" name="linkedlin_link" maxlength="128" class="form-control profile-input" placeholder=". . ." id="id_linkedin_link" disabled="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <div class="d-flex">
                <i class="fas fa-wrench fa-2x"></i>
                <div class="ml-2 align-self-center">
                  <span>Тохиргоо</span>
                </div>
                <div class="ml-auto align-self-center">
                  <span data-toggle="tooltip" data-html="true" title="Нэмэлт мэдээлэл">
                    <i class="fas fa-info-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-check float-left">
                    <input class="form-check-input" type="checkbox" disabled="">
                    <label class="form-check-label">
                      <span class="input-label">Нийтийн профайл <i>(public)</i></span>
                    </label>
                  </div>
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" disabled="">
                    <label class="form-check-label">
                      <span class="input-label">Е-мэйл хүлээж авах</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-check float-left">
                    <input class="form-check-input" type="checkbox" disabled="">
                    <label class="form-check-label">
                      <span class="input-label">Арын зураг <i>(үргэлж)</i></span>
                    </label>
                  </div>
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" disabled="">
                    <label class="form-check-label">
                      <span class="input-label">Өөр нэг тохиргоо</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header">
              <div class="d-flex">
                <i class="fas fa-cog fa-2x"></i>
                <div class="ml-2 align-self-center">
                  <span>Систем</span>
                </div>
                <div class="ml-auto align-self-center">
                  <span data-toggle="tooltip" data-html="true" title="Нэмэлт мэдээлэл">
                    <i class="fas fa-info-circle text-info"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <a href="#">
                    <button class="btn btn-block btn-primary" type="button" disabled="">
                      <i class="fas fa-tools mr-1"></i>
                      <span class="input-label">Санал, хүсэлт</span>
                    </button>
                  </a>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <a href="{% url 'home_support' %}">
                    <button class="btn btn-block btn-success" type="button">
                      <i class="fas fa-gem mr-1"></i>
                      <span class="input-label">Дэмжих</span>
                    </button>
                  </a>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-4">
                  <a href="#">
                    <button class="btn btn-block btn-danger" type="button" disabled="">
                      <i class="fas fa-exclamation-triangle mr-1"></i>
                      <span class="input-label">Хаягаа устгах</span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
