.window {
  margin-top: 100px;
}
.middle {
  position: absolute; 
  left: 50%; top: 50%; 
  transform: translate(-50%, -50%);
}
.middle i {
  color: green;
}
.description {
  height: 200px;
}
.flagInput {
  width: 100%;
  text-align: center;
}
.flagInput:focus {
  
}
.flagBtn {
}
table a {
  text-decoration: none;
  color: #fff;
}
table a:hover {
  color: #999;
}