body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-repeat: no-repeat;
  background: linear-gradient(45deg, rgba(20, 30, 56, 0.9) 0%, rgba(6, 26, 66, 0.9) 100%), url("/static/img/base/default.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ui > .segment {
  color: #000 !important;
}