body {
  color: rgba(255, 255, 255, 1);
}
.card {
  background-color: #3f4e6f; 
  box-shadow: 14px 14px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header span {
  font-family: Open Sans, sans-serif; 
  font-weight: 700;
}
._font-25 {
  font-size: 25px !important;
}
._font-20 {
  font-size: 20px !important;
}
._font-15 {
  font-size: 15px !important;
}
._font-14 {
  font-size: 14px !important;
}
._font-12 {
  font-size: 12px !important;
}
._font-700 {
  font-weight: 700 !important;
}
._activeWindow {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
._active-users-img {
  height: 40px;
  width: 40px;
}
._profile-image {
  height: 60px;
  width: 60px;
}
._profile-label {
  color: rgba(255, 255, 255, 0.9); 
  font-size: 12px;
}
._profile-ctf {
  background-color: rgba(62, 46, 61, 0.32);
}
._profile-detail {
  font-size: 25px;
}
._lesson-img {
  height: 100px;
  width: 100px;
}
#_support-us {
  color: #fff; 
  font-weight: 500;
}
@media (max-width: 992px) {
  .secondRow {
    margin-top: 20px;
  }
  #addchallenge {
    margin-top: 20px;
  }
}