body {
  color: rgba(255, 255, 255, 1);
}
._activeWindow {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
._active-users-img {
  height: 40px;
  width: 40px;
}
._profile-image {
  height: 60px;
  width: 60px;
}
._profile-label {
  color: rgba(255, 255, 255, 0.9); 
  font-size: 12px;
}
._profile-ctf {
  background-color: rgba(62, 46, 61, 0.32);
}
._profile-detail {
  font-size: 25px;
}
._lesson-img {
  height: 100px;
  width: 100px;
}
#_support-us {
  color: #fff; 
  font-weight: 500;
}
@media (max-width: 992px) {
  .secondRow {
    margin-top: 20px;
  }
  #addchallenge {
    margin-top: 20px;
  }
}