{% extends "layout.html" %}
{% load static %}
{% block style %}
  <link href="{% static 'css/home/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section id="main" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Оюутнаас оюутанд</h1> 
        <h2 class="mt-4">Бусдын зохиосон бодлогыг бодох, өөрөө бодлого нэмэх бие биенээсээ суралцах нь гол зорилго билээ </h2>
        <div>
          {% if not user.is_authenticated %}
            <a href="{% url 'user_register' %}" class="get-btn">Бүртгүүлэх</a>
          {% else %}
            <a href="{% url 'ctf_index' %}" class="get-btn">CTF - Arena</a>
          {% endif %}
          <a href="#about" class="nxt-btn" style="transition: 1s;">
            <span>Бидэнтэй танилцах</span>
            <span class="ml-1"><i class="fas fa-angle-down"></i></span>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 main-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="{% static 'img/logo/syscotech.png' %}" class="img-fluid animated"
          alt="fluiding image">
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-5 _font-700 _font-15">
        <span class="text-success text-uppercase ">OyuBook</span><br>
        <span class="_font-20">Бидний тухай, танилцуулга</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
        <div class="card align-items-center">
          <div class="mt-n5">
            <img src="{% static 'img/flaticon/science.png' %}">
          </div>
          <div class="card-title mt-3">
            <h4 class="_font-ubuntu">Бодлого нэмэх</h4>
          </div>
          <div class="card-body text-center">
            <span class="card-text _font-17" >Some quick example text to build on the card title and make up the bulk of the card's content.</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
        <div class="card align-items-center">
          <div class="mt-n5">
            <img src="{% static 'img/flaticon/pirate.png' %}">
          </div>
          <div class="card-title mt-3">
            <h4 class="_font-ubuntu">Бусадтай өрсөлдөх</h4>
          </div>
          <div class="card-body text-center">
            <span class="card-text _font-17">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
        <div class="card align-items-center">
          <div class="mt-n5">
            <img src="{% static 'img/flaticon/book.png' %}">
          </div>
          <div class="card-title mt-3">
            <h4 class="_font-ubuntu">Шинийг сурах</h4>
          </div>
          <div class="card-body text-center">
            <span class="card-text _font-17">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faq">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 mb-5 _font-700 _font-15">
        <span class="text-success text-uppercase _font-700 _font-15">FAQ</span><br>
        <span class="_font-20">Түгээмэл асуулт, хариулт</span>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <span data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse1">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Тэгж байгаад түгээмэл асуулт гарвал бичнээ</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch1">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse1" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse1">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <span data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse2">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Тэгж байгаад түгээмэл асуулт гарвал бичнээ</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch2">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse2" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse2">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <span data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse3">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Тэгж байгаад түгээмэл асуулт гарвал бичнээ</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch3">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse3" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse3">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <span data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" class="col-10 angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse4">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Тэгж байгаад түгээмэл асуулт гарвал бичнээ</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch4">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse4" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse4">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    </div>
  </div>
</section>  
<section id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex align-items-center">
        <div class="ml-5 _font-20">
          <span class="_font-15" style="display: block;">Copyright © 2020 <strong>OyuTech</strong></span>
          <div class="mt-2 ml-1 _font-25">
            <a href="https://github.com/OyuTech" class="text-light" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.facebook.com/oyutechnology" class="text-light" target="_blank">
              <i class="fab fa-facebook ml-3"></i>
            </a>
            <a href="mailto:oyutech@gmail.com" class="text-light">
              <i class="far fa-envelope ml-3"></i>
            </a>
            <a href="https://www.instagram.com/oyutech/" class="text-light" target="_blank">
              <i class="fab fa-instagram ml-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Бидэнтэй холбогдох</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="tel:+97699344378">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>+976 99344378</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="https://goo.gl/maps/Qwv3RYvybs8YqJsS8/" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Хаяг байршил</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Дүрэм журам</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="{% url 'home_policy' %}" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Нууцлалын бодлого</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="{% url 'home_support' %}" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Биднийг дэмжих</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Мэдээлэл</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="https://www.facebook.com/oyubook" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Facebook хуудас</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="#faq">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Түгээмэл асуулт, хариулт</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
  <script src="{% static 'js/home/index.js' %}"></script>
{% endblock %}