{% extends "layout.html" %}
{% load static %}
a
{% block style %}
  <link href="{% static 'css/home/index.css' %}" rel="stylesheet">
  <style>
    #about{
      margin-top: 100px;
      color: rgba(255, 255, 255, 1);
    }
    #faq {
      margin-top: 150px !important;
      color: rgba(255, 255, 255, 1);
    }
    #footer {
      color: rgba(255, 255, 255, 1); 
      margin-top: 200px !important;
      background: linear-gradient(45deg, rgba(20, 30, 56, 0.3) 15%, rgba(6, 26, 66, 0.6) 40%), url('/static/img/base/footer.png') no-repeat center center fixed;
    }
    #footer ul {
      list-style: none;
      margin-left: -40px;
    }
    #footer ul a {
      color: rgba(255, 255, 255, 0.5);
    }
    #footer ul a:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    #footer .fa-github:hover {
      color: rgba(255, 255, 255, 0.4);
    }
    #footer .fa-facebook:hover {
      color: #3b5998;
    }
    #footer .fa-envelope:hover {
      color: #D44638;
    }
    #footer .fa-instagram:hover {
      border-radius: 40px;
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
  </style>
{% endblock %}
{% block content %}
<section id="main" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Оюутнаас оюутанд</h1> 
        <h2 class="mt-4">Бусдын зохиосон бодлогыг бодох, өөрөө бодлого нэмэх бие биенээсээ суралцах нь гол зорилго билээ </h2>
        <div>
          {% if not user.is_authenticated %}
            <a href="{% url 'user_register' %}" class="get-btn">Бүртгүүлэх</a>
            <a href="#about" class="nxt-btn" style="transition: 1s;">
              <span>Бидэнтэй танилцах</span>
              <span class="ml-1"><i class="fas fa-angle-down"></i></span>
            </a>
          {% else %}
            <a href="#about" class="get-btn">Бидэнтэй танилцах
              <span class="ml-1"><i class="fas fa-angle-down"></i></span>
            </a>
          {% endif %}
            
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 main-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="{% static 'img/logo/syscotech.png' %}" class="img-fluid animated"
          alt="fluiding image">
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-5 _font-700 _font-15">
        <span class="text-success text-uppercase ">OyuBook</span><br>
        <span class="_font-20">Бидний тухай, танилцуулга</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
        <div class="card align-items-center">
          <div class="mt-n5">
            <img src="{% static 'img/flaticon/science.png' %}" style="width: 100px; height: 100px;">
          </div>
          <div class="card-title mt-3">
            <h4 class="">Some text</h4>
          </div>
          <div class="card-body text-center">
            <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
        <div class="card align-items-center">
          <div class="mt-n5">
            <img src="{% static 'img/flaticon/pirate.png' %}" style="width: 100px; height: 100px;">
          </div>
          <div class="card-title mt-3">
            <h4 class="">Some Text</h4>
          </div>
          <div class="card-body text-center">
            <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
        <div class="card align-items-center">
          <div class="mt-n5">
            <img src="{% static 'img/flaticon/book.png' %}" style="width: 100px; height: 100px;">
          </div>
          <div class="card-title mt-3">
            <h4 class="">Some Text</h4>
          </div>
          <div class="card-body text-center">
            <span class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faq" class="mt-5 mb-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-12 mb-5 _font-700 _font-15">
        <span class="text-success text-uppercase _font-700 _font-15">FAQ</span><br>
        <span class="_font-20">Түгээмэл асуулт, хариулт</span>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <span data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse1">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Танай клубт элсэхийн тулд яах ёстой вэ?</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch1">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse1" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse1">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Клубийн зүгээс гаргасан анкетийг бүрэн дэлгэрэнгүй бөглөж өгөх. Тэгснээр бид таны анкетийг харж таныг ярилцлаганд дуудна. Хэрэв та ярилцлаганд тэнцвэл 14 хоног идэвхтэн бус гишүүний статустайгаар клубийн үйл ажиллагаанд оролцоно. Туршилтын хугацаа дууссаны дараагаар таныг клубт албан ёсоор элсүүлэхийг та болон бусад гишүүдийн саналаар шийднэ.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <span data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse2">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Танай клубт элсэхийн тулд яах ёстой вэ?</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch2">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse2" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse2">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Клубийн зүгээс гаргасан анкетийг бүрэн дэлгэрэнгүй бөглөж өгөх. Тэгснээр бид таны анкетийг харж таныг ярилцлаганд дуудна. Хэрэв та ярилцлаганд тэнцвэл 14 хоног идэвхтэн бус гишүүний статустайгаар клубийн үйл ажиллагаанд оролцоно. Туршилтын хугацаа дууссаны дараагаар таныг клубт албан ёсоор элсүүлэхийг та болон бусад гишүүдийн саналаар шийднэ.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <span data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse3">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Танай клубт элсэхийн тулд яах ёстой вэ?</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch3">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse3" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse3">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Клубийн зүгээс гаргасан анкетийг бүрэн дэлгэрэнгүй бөглөж өгөх. Тэгснээр бид таны анкетийг харж таныг ярилцлаганд дуудна. Хэрэв та ярилцлаганд тэнцвэл 14 хоног идэвхтэн бус гишүүний статустайгаар клубийн үйл ажиллагаанд оролцоно. Туршилтын хугацаа дууссаны дараагаар таныг клубт албан ёсоор элсүүлэхийг та болон бусад гишүүдийн саналаар шийднэ.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <span data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" class="col-10  angleSwitchActive _font-20" type="button">
        <div class="accordion" id="acCollapse4">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <span class="_font-16">Танай клубт элсэхийн тулд яах ёстой вэ?</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-right angleSwitch4">
                  <i class="fas fa-angle-up" type="button"></i>
                </div>
              </div>
            </div>
            <div id="collapse4" class="collapse hide" aria-labelledby="headingOne" data-parent="#acCollapse4">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 mt-n2">
                    <div class="row text-light">
                      <div class="col-12 align-self-center">
                        <span class="_font-15">Клубийн зүгээс гаргасан анкетийг бүрэн дэлгэрэнгүй бөглөж өгөх. Тэгснээр бид таны анкетийг харж таныг ярилцлаганд дуудна. Хэрэв та ярилцлаганд тэнцвэл 14 хоног идэвхтэн бус гишүүний статустайгаар клубийн үйл ажиллагаанд оролцоно. Туршилтын хугацаа дууссаны дараагаар таныг клубт албан ёсоор элсүүлэхийг та болон бусад гишүүдийн саналаар шийднэ.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="container-fluid">
    <div class="row" style="">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex align-items-center">
        <div class="ml-5 _font-20">
          <span class="_font-15" style="display: block;">Copyright © 2020 <strong>OyuTech</strong></span>
          <div class="mt-2 ml-1 _font-25">
            <a href="https://github.com/OyuTech" class="text-light"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/oyutechnology" class="text-light"><i class="fab fa-facebook ml-3"></i></a>
            <a href="mailto:oyutech@gmail.com" class="text-light"><i class="far fa-envelope ml-3"></i></a>
            <a href="https://www.instagram.com/oyutech/" class="text-light"><i class="fab fa-instagram ml-3"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Бидэнтэй холбогдох</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="tel:+97699344378">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>+976 99344378</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="https://goo.gl/maps/Qwv3RYvybs8YqJsS8/" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Хаяг байршил</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Дүрэм журам</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Нууцлалын бодлого</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Эрх үүрэг</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Мэдээлэл</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="https://www.facebook.com/oyubook" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Facebook хуудас</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="#faq">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Түгээмэл асуулт, хариулт</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
  var up = "<i class='fas fa-angle-up' type='button'></i>";
  var down = "<i class='fas fa-angle-down' type='button'></i>";

  $("#acCollapse1").on("hide.bs.collapse", function() {
    $(".angleSwitch1").html(up);
  });
  $("#acCollapse1").on("show.bs.collapse", function() {
    $(".angleSwitch1").html(down);
  });
  $("#acCollapse2").on("hide.bs.collapse", function() {
    $(".angleSwitch2").html(up);
  });
  $("#acCollapse2").on("show.bs.collapse", function() {
    $(".angleSwitch2").html(down);
  });
  $("#acCollapse3").on("hide.bs.collapse", function() {
    $(".angleSwitch3").html(up);
  });
  $("#acCollapse3").on("show.bs.collapse", function() {
    $(".angleSwitch3").html(down);
  });
  $("#acCollapse4").on("hide.bs.collapse", function() {
    $(".angleSwitch4").html(up);
  });
  $("#acCollapse4").on("show.bs.collapse", function() {
    $(".angleSwitch4").html(down);
  });
});
</script>
{% endblock %}