{% extends "layout.html" %}
{% load static %}
{% block style %}
<style>
  #main {
    color: #fff;
    font-family: "Ubuntu";
  }
  #main p, ul, pre {
    color: rgba(255, 255, 255, 0.9);
  }
  #main ._header {
    line-height: 1em;
    font-size: 1.7em;
    font-weight: bold;
  }
</style>
{% endblock %}
{% block content %}
<section id="main" class="d-flex">
  <div class="container-fluid ml-5 mr-5">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4 mt-2">
        <div class="d-flex align-items-center justify-content-center">
          <img src="{% static 'img/flaticon/privacy.png' %}" style="height: 80px; width: 80px;">
          <span class="_header">OyuBook Нууцлалын Бодлого</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
        <div class="text-justify">
          <p>Мэдээллийн аюулгүй байдал нь бидний хувьд чухал бөгөөд хувь хүний мэдээллийг бид энэ тэргүүнд тавих болно, мөн бид таниас орж ирсэн мэдээллийг гадагш буюу гуравдагч этгээдэд өгөхгүй. Энэхүү хуудас нь танд аюулгүй байдлын бодлого журмын мэдлэг олгох, таниас орж ирсэн мэдээллүүдийг хаана ашигладаг, тэдгээр мэдээллээр юу хийдэг талаар ойлголт өгөх юм.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
        <div class="text-justify">
          <h4 style="font-family: Ubuntu;">Бидэнд ирж буй өгөгдлүүд</h4>
          <p>Бид шинээр хаяг үүсгэх үед таниас е-мэйл хаяг, нууц үг, нэр гэх мэдээллийг авдаг бөгөөд нууц үг нь (<a href="https://en.wikipedia.org/wiki/SHA-2">SHA-256</a> + <a href="https://en.wikipedia.org/wiki/Salt_(cryptography)">SALT</a>) -аар хашлагдаж бүртгэгддэг тул таниас өөр хэн ч нууц үгийг мэдэж чадахгүй юм. Нэгэнт хаяг нээсний дараа танд профайл үүсэх бөгөөд та тэнд өөрийн талаар нэмэлт мэдээлэл <i>(Бүтэн нэр, Харьяа, Зураг, Линк)</i> зэрэг мэдээллийг нэмэх боломжтой юм. Зургийн хувьд шинээр зураг нэмэх үед өмнөх зураг устана мөн <b>аккаунт устах үед таньтай холбоотой бүх мэдээлэл устах болно</b>. Таны бодсон бодлого, үзсэн хичээл, мөн профайл хуудас тань нийтийн <i>(public)</i> бөгөөд хүсвэл та хувийн <i>(private)</i> болгон өөрчлөх боломжтой.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
        <div class="text-justify">
          <h4 style="font-family: Ubuntu;">Цуглуулсан мэдээллийг хаана ашиглах</h4>
          <ul>
            <li>Бусад хүмүүс таны тухай профайл хуудаснаас тань нэмэлт мэдээлэл авах боломжтой</li>
            <li>Бид танд мэдээлэл явуулахын тулд таны өгсөн е-мэйлийг ашиглана</li>
            <li>Бид нийт хэрэглэгчид дээр таны тоог оруулна</li>
            <li>Бид таниас ирж буй санал, гомдлийг цаашдын хөгжүүлэлт дээр тусган ажиллах болно</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
        <div class="text-justify">
          <h4 style="font-family: Ubuntu;">Хувийн мэдээллийг шинэчлэх, устгах</h4>
          <p>Та хүссэн үедээ өөрийн мэдээллийг шинэчлэх, устгах эрхтэй. Гэвч таны өмнөх мэдээллүүд хадгалагдахгүй. Жишээ нь: Өмнөх профайл зураг, арын зураг зэрэн нь дахин өөр зургаар шинэчлэх үед дагаад устах тул сэргээх боломжгүй юм.</p>
          <pre class="ml-n5">
            OyuTech 2020
            Attn: Privacy
            Ulaanbaatar, Mongolia

            Via email: <span style="color: #4691f6;">oyutech@gmail.com</span> with “Privacy” in the subject line
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer" class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex align-items-center">
        <div class="ml-5 _font-20">
          <span class="_font-15" style="display: block;">Copyright © 2020 <strong>OyuTech</strong></span>
          <div class="mt-2 ml-1 _font-25">
            <a href="https://github.com/OyuTech" class="text-light"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/oyutechnology" class="text-light"><i class="fab fa-facebook ml-3"></i></a>
            <a href="mailto:oyutech@gmail.com" class="text-light"><i class="far fa-envelope ml-3"></i></a>
            <a href="https://www.instagram.com/oyutech/" class="text-light"><i class="fab fa-instagram ml-3"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Бидэнтэй холбогдох</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="tel:+97699344378">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>+976 99344378</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="https://goo.gl/maps/Qwv3RYvybs8YqJsS8/" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Хаяг байршил</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Дүрэм журам</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="{% url 'home_policy' %}">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Нууцлалын бодлого</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="{% url 'home_support' %}">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Биднийг дэмжих</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 d-flex align-items-center">
        <div class="mt-3">
          <span class="_font-700">Мэдээлэл</span>
          <ul class="mt-3">
            <li class="mt-3">
              <a href="https://www.facebook.com/oyubook" target="_blank">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Facebook хуудас</span>
              </a>
            </li>
            <li class="mt-2">
              <a href="#faq">
                <span class="_font-10"><i class="fas fa-check"></i></span>
                <span>Түгээмэл асуулт, хариулт</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}