#main h1 {
  font-family: Roboto, sans-serif; 
  font-weight: 300; 
  font-size: 60px;
}
#main .animated {
  animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
}
#main .get-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 28px;
  margin-top: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#main .get-btn:hover {
  border-color: #fff;
  color: #fff;
}

#main .container, #main .container-fluid {
  padding-top: 84px;
}
#about{
  margin-top: 100px;
  color: rgba(255, 255, 255, 1);
}
#about img {
  width: 100px;
  height: 100px;
}
#faq {
  margin-top: 100px;
  margin-bottom: 20% !important;
  color: rgba(255, 255, 255, 1);
}
#footer {
  color: rgba(255, 255, 255, 1); 
  background: linear-gradient(45deg, rgba(20, 30, 56, 0.3) 15%, rgba(6, 26, 66, 0.6) 40%), url('/static/img/base/footer.png') no-repeat center center fixed;
}
#footer ul {
  list-style: none;
  margin-left: -40px;
}
#footer ul a {
  color: rgba(255, 255, 255, 0.5);
}
#footer ul a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#footer .fa-github:hover {
  color: rgba(255, 255, 255, 0.4);
}
#footer .fa-facebook:hover {
  color: #3b5998;
}
#footer .fa-envelope:hover {
  color: #D44638;
}
#footer .fa-instagram:hover {
  border-radius: 40px;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}